.container3{
    padding-top: 2cm;
}
.card{
    
    background-color: floralwhite;
    color: rgb(1, 79, 102);
}

.container2{
    border-radius: 25px;
    background-color: rgb(2, 81, 105);
    color: floralwhite;
    padding: 15px;
}
.tableclass{
    margin: 2px;
}
.container{
    background-color: floralwhite;
}
.underline{
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: darkslategrey;
}
list{

    background-color: rgb(223, 245, 227);
    color: rgb(2, 83, 116);
}

  td{
    border: 1px solid black;
    background-color: rgb(223, 245, 227);
    color: rgb(2, 83, 116);
    padding:5px;
  }
  th{
      text-align: center;
  }
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(8, 105, 122);
    color: cornsilk;
}
.picture {
    border-radius: 25%;
    }
.profile-picture {
    border-radius: 50%;
    }
hr.rounded {
    border-top: 4px solid rgb(4, 101, 131);
    width: 100%;
    border-radius: 5px;
    }
body
{
    background-image: linear-gradient(to right, rgba(116, 231, 248, 0.74), rgba(5, 112, 126, 0.795));
    color: rgb(246, 250, 246);
    font-family: 'Baloo Da 2', sans-serif;
    font-size: medium;
    height: 4000px;
    margin: 0px;
    padding: 20px;
}

.wrapper
{
    align-items: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;

}


.topnav {
    top:0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: rgb(8, 105, 122);
}

.topnav a {
    color: blanchedalmond;
    float: right;
    padding: 15px 15px;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:rgba(88, 240, 220, 0.747);
    color: rgb(252, 252, 252);
}

.Identification, .Background
{ 
    padding-top: 2cm;
    align-items: center;
    margin: 5px;
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.recodme a:hover
{
    background-color: rgba(27, 231, 180, 0.644);
    color: whitesmoke;
}

.edu  {
    color: rgb(8, 103, 158);
    margin-top: 5cm;
    padding-top: 5cm;
}
.careers  {
    color: rgb(8, 103, 158);
    margin-top: 5cm;
    padding-top: 5cm;
}
.contacts
{
margin-top: 10cm;
padding-top: 5cm;
}

.edu a {
display: inline-block;
margin-top: 2cm;
padding-top: 2cm;
list-style: none;
}
.careers a {
display: inline-block;
margin-top: 2cm;
padding-top: 2cm;
list-style: none;
}

.social-links 
{
list-style: none;
padding-left: 0px;
font-size: 30px;
}

.social-links li {
    display: inline-block;
}

.social-links a {
    text-decoration:none;
}

.social-links a:hover 
{
    background-color: rgba(27, 231, 180, 0.644);
    color: whitesmoke;
}