.profile-picture {
  border-radius: 50%;
  }
body
{
  background-image: linear-gradient(to right, rgba(116, 231, 248, 0.74), rgba(5, 112, 126, 0.795));
  color: rgb(245, 247, 234);
  font-family: 'Baloo Da 2', sans-serif;
  font-size: medium;
  height: 3000px;
  margin: 0px;
  padding: 20px;
}

.wrapper
{
  align-items: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;

}


.topnav {
  top:0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  background-color: rgb(8, 105, 122);
}

.topnav a {
  color: blanchedalmond;
  float: right;
  padding: 15px 15px;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:rgba(88, 240, 220, 0.747);
  color: rgb(252, 252, 252);
}


.Identification, .Background
{ 
  padding-top: 2cm;
  align-items: left;
  margin: 5px;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recodme a:hover
{
  background-color: rgba(27, 231, 180, 0.644);
  color: whitesmoke;
}

.edu  {
  margin-top: 5cm;
  padding-top: 5cm;
}
.careers  {
  margin-top: 5cm;
  padding-top: 5cm;
}
.contacts
{
  margin-top: 5cm;
  padding-top: 5cm;
}

.edu a {
  display: inline-block;
  margin-top: 2cm;
  padding-top: 2cm;
  list-style: none;
}
.careers a {
  display: inline-block;
  margin-top: 2cm;
  padding-top: 2cm;
  list-style: none;
}

.social-links 
{
  padding-top: 2cm;
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}
  
  .social-links li {
    display: inline-block;
    margin-right: 8px;
  }
  
  .social-links a {
    text-decoration:none;
    padding: 4px;
  }
  
  .social-links a:hover 
  {
    background-color: rgba(27, 231, 180, 0.644);
    color: whitesmoke;
  }